{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

<h1>Oups ! La page que vous recherchez n'existe pas ! </h1>

<p>On a surement du vous mal renseigner, retournez à l'accueil ou voir nos dernières annonces </p>
<a href="{{ path('homepage')}}" class="btn btn-primary">Retour a l'acceuil</a>
<a href="{{path('ads_index')}}" class="btn btn-success">Nos annonces</a>
</div>



{% endblock %}